.container {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.phonebookHeader{
    margin: 20px 0;
    font-size: 50px;
    color:rgb(43, 43, 153);
    text-transform: uppercase;
}